<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Employee Stack", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "About US", aboutus_path, class: "nav-link" %>
      </li>
      <% if Current.user %>
        <li class="nav-item">
          <%= link_to 'Log out', logout_path, method: :get, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Employees", employees_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
