<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0.5% 4%;">
    <a class="navbar-brand" href="#">Employee Stack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Signup", signup_path, class: "nav-link" %>
        </li>  
        
         <li class="nav-item">
          <%= link_to "About us", aboutus_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 column-gap-3">
       
        <%= link_to "Login",login _path, class:"text-decoration-none" %>
        <%= link_to "Sign Up", signup_path, class:"text-decoration-none" %>
        <% end %>
        
      </ul>
    </div>
  </nav>
